html {
    /*
    margin-top: 50px;
    background-color: #6f5499;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
    background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
    background-image: -o-linear-gradient(top, #563d7c 0, #6f5499 100%);
    background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
    */
}

.hidden {
    display: none;
}

.how-old-page {
    padding-top: 100px;
}

.how-old-face-rectangle {
    position: absolute;
    border: 2px solid white;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.how-old-face-rectangle:hover {
    border: 2px solid black;
    box-shadow: 0 0 10px black;
}

#how-old-picture-wrapper {
    display: inline-block;
    position: relative;
}

#how_old_drop_zone,
#how_old_url > .input-group {
    box-shadow: 5px 5px 10px #ccc;
}