{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>How Old Are You | Powered By HaoYu</title>
    <link href="{% static 'frameworks/Bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'frameworks/Dropzone/dropzone.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="{% static 'html5shiv/html5shiv.min.js' %}"></script>
      <script src="{% static 'respond/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">How Old Are You</a>
        </div>
        <div class="collapse navbar-collapse">
            <p class="navbar-text navbar-right">Powered By HaoYu</p>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-sm-6 col-sm-push-3 text-center">
        <form id="drop_zone" class="dropzone">
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="row">
    <form class="col-sm-6 col-sm-push-3" action="/fisher" method="POST">
        {% csrf_token %}
        <div class="input-group input-group-lg">
            <input type="text" name="ImageURL" class="form-control" placeholder="Input The URL Of The Image"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-picture"></span>
                    </button>
                </span>
        </div>
    </form>
</div>
<script src="{% static 'frameworks/jQuery/jQuery-2.1.4.min.js' %}"></script>
<script src="{% static 'frameworks/Bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frameworks/Dropzone/dropzone.js' %}"></script>
<script>
    $("#drop_zone").dropzone({
        url: "{% url 'fisher' %}"
    });
</script>
</body>
</html>
